package {{organization}}.{{name}}

import com.typesafe.scalalogging.Logger


class EchoLogic {

  //--- Fields ---
  protected val log = Logger("logic")

  //--- Methods ---
  def process(body: String): Unit = {
    log.info(body)
  }
}
