package {{organization}}.{{name}}

import com.amazonaws.serverless.proxy.model.{AwsProxyRequest, AwsProxyResponse}
import com.amazonaws.services.lambda.runtime.Context
import io.onema.userverless.configuration.lambda.EnvLambdaConfiguration
import io.onema.userverless.function.ApiGatewayHandler
import org.apache.http.HttpStatus


class EchoFunction extends ApiGatewayHandler with EnvLambdaConfiguration {

  //--- Fields ---
  val logic = new EchoLogic()

  //--- Methods ---
  def execute(request: AwsProxyRequest, context: Context): AwsProxyResponse = {
    logic.process(request.getBody)
    buildResponse(HttpStatus.SC_OK, payload = request.getBody, headers = Map("Foo" -> "Bar"))
  }
}
