package {{organization}}.{{name}}

import com.amazonaws.services.s3.event.S3EventNotification
import com.amazonaws.services.s3.AmazonS3
import com.amazonaws.services.s3.event.S3EventNotification.S3EventNotificationRecord
import com.typesafe.scalalogging.Logger


class CopyLogic(val s3Client: AmazonS3, val destinationBucket: String) {

  //--- Fields ---
  protected val log = Logger("copy-logic")

  //--- Methods ---
  def copy(record: S3EventNotificationRecord): Unit = {
    val sourceBucket = record.getS3.getBucket.getName
    val sourceKey = record.getS3.getObject.getKey
    log.info(s"Copying object $sourceKey from $sourceBucket to $destinationBucket")
    s3Client.copyObject(sourceBucket, sourceKey, destinationBucket, sourceKey)
  }
}
